html, body {
  font-family: 'Lato';
  color: #2e5468;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: #2e5468;
  text-align: left;
}

h2{
  font-size: 20px;
  font-weight: 400;
  color: #008d93;
  text-align: left;
}

h4{
  font-size: 20px;
  font-weight: 600;
  color: #2e5468;
  margin-top: -10px;
  margin-bottom: -10px;
}

h5{
  margin-top: -10px;
  font-size: 12px;
  font-weight: 400;
  color: #008d93;
}

.column {
  flex: 1; /* Adjust the flex value as needed */
  flex-shrink: 1;
  padding: 20px; /* Add padding values as needed */
  width: calc(25%); /* Adjust the width calculation to accommodate for padding */
  box-sizing: border-box; /* Include padding in the width calculation */
  float:left;
}

.column-wrapper {
  padding: 30px; /* Add padding values as needed */
  box-shadow: 0 0px 8px rgba(0, 30, 15, 0.1); /* Add the drop shadow effect */
  border-radius: 10px;
}

.form_id {
  /* Modify the common styles for all labels with the class 'form_id' */
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.entire_form{
  margin-left: 60px;
}

#input_box {
  width: 90%;
  padding: 7px;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  font-size: 15px;
}

.submit_button {
  /* Apply desired styles to the button container */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.submit_button input[type="submit"] {
  /* Apply desired styles to the button */
  background-color: #008d93;
  color: white;
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.returnContainer{
  min-width: 400px;
  display: inline-block;
}

.content-container{
  display: flex;
}

.box-border{
  padding: 25px;
  width: 210px;
  box-shadow: 0 0px 10px rgba(0, 30, 15, 0.1); /* Add the drop shadow effect */
  border-radius: 10px;
  align-items:right;
}

.return-form{
  margin-left: 50px;
  display: flex;
}

.return-wrapper{
  padding: 10px;
}

.align-left{
  float: left;
}

.align-right{
  float: right;
}

.in-between{
  display: flex;
  justify-content: space-between;
}

.details2{
  color: #008d93;
  font-size: 15px;
  width: 90px;
  display: inline-block;
  text-align: left;
  padding-top: 10px;
}

.details{
  color: #b0b0b0;
  font-size: 15px;
  width: 90px;
  display: inline-block;
  text-align: left;
  padding-top: 10px;
}

.line {
  width: 94%;
  margin: 0;
  border: none;
  border-top: 1.5px solid #f2f2f2;
}