html, body {
  font-family: 'Lato';
  color: #2e5468;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: #2e5468;
  text-align: left;
}

h2{
  font-size: 20px;
  font-weight: 400;
  color: #008d93;
  text-align: left;
}

h4{
  font-size: 20px;
  font-weight: 600;
  color: #2e5468;
  margin-top: -10px;
  margin-bottom: -10px;
}

h5{
  margin-top: -10px;
  font-size: 12px;
  font-weight: 400;
  color: #008d93;
}

.column {
  flex: 1;
  flex-shrink: 1;
  padding: 20px;
  width: calc(25%);
  box-sizing: border-box;
  float:left;
}

.column-wrapper {
  padding: 30px;
  box-shadow: 0 0px 8px rgba(0, 30, 15, 0.1); 
  border-radius: 10px;
}

.form_id {
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
}

.entire_form{
  margin-left: 60px;
}

#input_box {
  width: 300px;
  padding: 7px;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  font-size: 15px;
}

.submit_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.submit_button input[type="submit"] {
  background-color: #008d93;
  font-weight: 500;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
}

.returnContainer{
  min-width: 400px;
  display: inline-block;
}

.content-container{
  display: flex;
}

.box-border{
  padding: 25px;
  width: 210px;
  box-shadow: 0 0px 10px rgba(0, 30, 15, 0.1);
  border-radius: 10px;
  align-items:right;
}

.return-form{
  margin-left: 50px;
  display: flex;
}

.return-wrapper{
  padding: 10px;
}

.align-left{
  float: left;
}

.align-right{
  float: right;
}

.in-between{
  display: flex;
  justify-content: space-between;
}

.details2{
  color: #008d93;
  font-size: 15px;
  width: 90px;
  display: inline-block;
  text-align: left;
  padding-top: 10px;
}

.details{
  color: #b0b0b0;
  font-size: 15px;
  width: 90px;
  display: inline-block;
  text-align: left;
  padding-top: 10px;
}

.line {
  width: 94%;
  margin: 0;
  border: none;
  border-top: 1.5px solid #f2f2f2;
}

.container{
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 60px;
  height: 60px;
  background: #008d93;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 10px rgba(0, 30, 15, 0.1);
}

.btn img {
  filter: invert(100%);
}

.popup {
  width: 330px;
  bottom: 50px;
  left: 60px;
  background: white;
  border-radius: 6px;
  position: fixed;
  top: 20%;
  transform: translate(-200%, 50%) scale(0.1);
  text-align: left;
  visibility: hidden;
  transition: transform 0.4s, visibility 0.4s;
  overflow-y: scroll;
  box-shadow: 0 0px 10px rgba(0, 30, 15, 0.1);
  padding: 20px;
}

.open-popup {
  visibility: visible;
  left: 50px;
  transform: translate(-1%, -20%) scale(1);
}