<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>

    <div class="entire_form" style="margin:0px;">
        <div style="width:1100px;">
            <span style="width:115px; display:inline-block; text-align:left; color: #008d93;"></span>
            <span class="details2">Year 1</span>
            <span class="details2">Year 2</span>
            <span class="details2">Year 3</span>
            <span class="details2">Year 4</span>
            <span class="details2">Year 5</span>
            <span class="details2">Year 6</span>
            <span class="details2">Year 7</span>
            <span class="details2">Year 8</span>
            <span class="details2">Year 9</span>
            <span class="details2">Year 10</span>

            <span style="width:115px; display:inline-block; text-align:left; padding-top: 20px; color: #008d93;">Net Income</span>
            <span class="details">{{ details[0][0] }}</span>
            <span class="details">{{ details[0][2] }}</span>
            <span class="details">{{ details[0][4] }}</span>
            <span class="details">{{ details[0][6] }}</span>
            <span class="details">{{ details[0][8] }}</span>
            <span class="details">{{ details[0][10] }}</span>
            <span class="details">{{ details[0][12] }}</span>
            <span class="details">{{ details[0][14] }}</span>
            <span class="details">{{ details[0][16] }}</span>
            <span class="details">{{ details[0][18] }}</span>
            <hr class="line">

            <span style="width:115px; display:inline-block; text-align:left; padding-top: 15px; color: #008d93;">Net Expenses</span>
            <span class="details">{{ details[19][0] }}</span>
            <span class="details">{{ details[19][2] }}</span>
            <span class="details">{{ details[19][4] }}</span>
            <span class="details">{{ details[19][6] }}</span>
            <span class="details">{{ details[19][8] }}</span>
            <span class="details">{{ details[19][10] }}</span>
            <span class="details">{{ details[19][12] }}</span>
            <span class="details">{{ details[19][14] }}</span>
            <span class="details">{{ details[19][16] }}</span>
            <span class="details">{{ details[19][18] }}</span>
            <hr class="line">

            <span style="width:115px; display:inline-block; text-align:left; padding-top: 15px; color: #008d93;">NOI</span>
            <span class="details">{{ details[21][0] }}</span>
            <span class="details">{{ details[21][2] }}</span>
            <span class="details">{{ details[21][4] }}</span>
            <span class="details">{{ details[21][6] }}</span>
            <span class="details">{{ details[21][8] }}</span>
            <span class="details">{{ details[21][10] }}</span>
            <span class="details">{{ details[21][12] }}</span>
            <span class="details">{{ details[21][14] }}</span>
            <span class="details">{{ details[21][16] }}</span>
            <span class="details">{{ details[21][18] }}</span>
            <hr class="line">

            <span style="width:115px; display:inline-block; text-align:left; padding-top: 15px; color: #008d93;">Debt Service</span>
            <span class="details">{{ details[27][0] }}</span>
            <span class="details">{{ details[27][2] }}</span>
            <span class="details">{{ details[27][4] }}</span>
            <span class="details">{{ details[27][6] }}</span>
            <span class="details">{{ details[27][8] }}</span>
            <span class="details">{{ details[27][10] }}</span>
            <span class="details">{{ details[27][12] }}</span>
            <span class="details">{{ details[27][14] }}</span>
            <span class="details">{{ details[27][16] }}</span>
            <span class="details">{{ details[27][18] }}</span>
            <hr class="line">

            <span style="width:115px; display:inline-block; text-align:left; padding-top: 15px; color: #008d93;">Distributions</span>
            <span class="details">{{ details[47][0] }}</span>
            <span class="details">{{ details[47][2] }}</span>
            <span class="details">{{ details[47][4] }}</span>
            <span class="details">{{ details[47][6] }}</span>
            <span class="details">{{ details[47][8] }}</span>
            <span class="details">{{ details[47][10] }}</span>
            <span class="details">{{ details[47][12] }}</span>
            <span class="details">{{ details[47][14] }}</span>
            <span class="details">{{ details[47][16] }}</span>
            <span class="details">{{ details[47][18] }}</span>
            <hr class="line">

            <span style="width:115px; display:inline-block; text-align:left; padding-top: 15px; color: #008d93;">CoC</span>
            <span class="details">{{ details[55][0] }}</span>
            <span class="details">{{ details[55][2] }}</span>
            <span class="details">{{ details[55][4] }}</span>
            <span class="details">{{ details[55][6] }}</span>
            <span class="details">{{ details[55][8] }}</span>
            <span class="details">{{ details[55][10] }}</span>
            <span class="details">{{ details[55][12] }}</span>
            <span class="details">{{ details[55][14] }}</span>
            <span class="details">{{ details[55][16] }}</span>
            <span class="details">{{ details[55][18] }}</span>
            <hr class="line">

            <span style="width:115px; display:inline-block; text-align:left; padding-top: 15px; color: #008d93;">DSCR</span>
            <span class="details">{{ details[57][0] }}</span>
            <span class="details">{{ details[57][2] }}</span>
            <span class="details">{{ details[57][4] }}</span>
            <span class="details">{{ details[57][6] }}</span>
            <span class="details">{{ details[57][8] }}</span>
            <span class="details">{{ details[57][10] }}</span>
            <span class="details">{{ details[57][12] }}</span>
            <span class="details">{{ details[57][14] }}</span>
            <span class="details">{{ details[57][16] }}</span>
            <span class="details">{{ details[57][18] }}</span>
            <hr class="line">

            <span style="width:115px; display:inline-block; text-align:left; padding-top: 15px; color: #008d93;">Break Even</span>
            <span class="details">{{ details[62][0] }}</span>
            <span class="details">{{ details[62][2] }}</span>
            <span class="details">{{ details[62][4] }}</span>
            <span class="details">{{ details[62][6] }}</span>
            <span class="details">{{ details[62][8] }}</span>
            <span class="details">{{ details[62][10] }}</span>
            <span class="details">{{ details[62][12] }}</span>
            <span class="details">{{ details[62][14] }}</span>
            <span class="details">{{ details[62][16] }}</span>
            <span class="details">{{ details[62][18] }}</span>
            <span class="details" style="padding-bottom:5px"></span>
        </div>
    </div>
</html>