<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>

    <div class="entire_form" style="margin:0px;">
        <div style="width:340px;">
          <div class="return-box">
            
            <div class="in-between" style="margin-top:10px;">
                <h5 class="align-left" style="color: #b0b0b0;">Cashflow</h5>
                <h4 class="align-right" style="font-size: 20px;">{{ sample_returns[0][0] }}</h4>
            </div>

            <div class="in-between" style="margin-top:10px;">
                <h5 style="color: #b0b0b0;">Refi/Sale Profits</h5>
                <h4 class="investor-value" style="font-size: 20px;">{{ sample_returns[2][0] }}</h4>
            </div>

            <div class="in-between" style="margin-top:10px;">
                <h5 style="color: #b0b0b0;">Member Capital Return</h5>
                <h4 class="investor-value" style="font-size: 20px;">{{ sample_returns[3][0] }}</h4>
            </div>

            <div class="in-between" style="margin-top:20px;">
                <h5 class="align-left" style="font-weight: bold; font-size: 15px;">Initial Investment + Profit</h5>
                <h4 class="investor-value">{{ sample_returns[5][0] }}</h4>
            </div>

            <div class="in-between" style="margin-top:40px;">
                <h5 style="color: #b0b0b0;">IRR</h5>
                <h4 class="investor-value" style="font-size: 20px;">{{ investor_returns[1][0] }}</h4>
            </div>

            <div class="in-between" style="margin-top:10px;">
                <h5 style="color: #b0b0b0;">Annualized Return</h5>
                <h4 class="investor-value" style="font-size: 20px;">{{ investor_returns[3][0] }}</h4>
            </div>

            <div class="in-between" style="margin-top:20px;">
                <h5 class="align-left" style="font-weight: bold; font-size: 15px;">Total Return</h5>
                <h4 class="investor-value" style="font-weight: bold;">{{ investor_returns[0][0] }}</h4>
            </div>
          </div>
        </div>
      </div>
</html>