<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>

    <div class="entire_form">
        <div class="return-wrapper">
          <div class="return-box">
            <h3>Equity Stack</h3>
            
            <div class="line-container">
                <h5 class="label">Down Payment</h5>
                <h4 class="equity-value">{{ equity_stack[0][0] }}</h4>
            </div>

            <div class="line-container">
                <h5 class="label">Acquisition Fee</h5>
                <h4 class="equity-value">{{ equity_stack[1][0] }}</h4>
            </div>

            <div class="line-container">
                <h5 class="label">Closing Costs</h5>
                <h4 class="equity-value">{{ equity_stack[2][0] }}</h4>
            </div>

            <div class="line-container">
                <h5 class="label">Rehab/CapEx</h5>
                <h4 class="equity-value">{{ equity_stack[3][0] }}</h4>
            </div>

            <div class="line-container">
                <h5 class="label" style="font-weight: bold; font-size: 20px;">Total Raise</h5>
                <h4 class="equity-value" style="font-weight: bold; font-size: 20px;">{{ equity_stack[5][0] }}</h4>
            </div>
          </div>
        </div>
      </div>
</html>