<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>


    <div class="entire_form" style="margin:0px;">
        <div style="width:250px;">
          <div class="return-box">
            
            <div class="in-between" style="margin-top:70px;">
                <h5 class="align-left" style="color: #C6C6C6;">Down Payment</h5>
                <h4 class="align-right" style="font-size: 20px;">{{ equity_stack[0][0] }}</h4>
            </div>

            <div class="in-between" style="margin-top:10px;">
                <h5 class="align-left" style="color: #C6C6C6;">Acquisition Fee</h5>
                <h4 class="align-right" style="font-size: 20px;">{{ equity_stack[1][0] }}</h4>
            </div>

            <div class="in-between" style="margin-top:10px;">
                <h5 class="align-left" style="color: #C6C6C6;">Closing Costs</h5>
                <h4 class="align-right" style="font-size: 20px;">{{ equity_stack[2][0] }}</h4>
            </div>

            <div class="in-between" style="margin-top:10px;">
                <h5 class="align-left" style="color: #C6C6C6;">Rehab/CapEx</h5>
                <h4 class="align-right" style="font-size: 20px;">{{ equity_stack[3][0] }}</h4>
            </div>

            <div class="in-between" style="margin-top:20px;">
                <h5 class="align-left" style="font-weight: bold; font-size: 15px;">Total Raise</h5>
                <h4 class="align-right" style="font-weight: bold;">{{ equity_stack[5][0] }}</h4>
            </div>
          </div>
        </div>
      </div>
</html>